<div class="well well-sm">
  <span *ngFor="let node of clause.nodes; let i=index; let first=first; let last=last">{{formatted(node)+checkIndex(last)}}</span>
  <span>{{newNode.text}}</span>
</div>
<form class="form-inline">
  <input type="text" class="form-control" [(ngModel)]="newNode.text" name="newNode.text">
  <button class="btn btn-primary" (click)="onAdd()">+</button>
</form>